* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    margin-top: 3em;
}
h1, h2, h3 {
    color: #666;
}
header, main, footer {
    max-width: 800px;
    margin: 0 auto;
}
header {
    padding: 2em 0;
}
header h1 {
    font-size: 3em;
}
header span {
    font-size: 1.5em;
    color: #999
}
#aboutMe img {
    float: left;
    border: 1px solid #333;
    border-radius: 50%;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #333; opacity:0.7;
    font-weight: bold;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 2em;
}
nav a:hover{
    background: #666;
}
section {
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}
section > p {
    margin: 1em 0;
}
section ul {
    padding-left: 1.5em;
}
#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}
#projects article {
    background: #ccc;
    padding: 1em;
}
#projects article img {
    width: 100%;
    background: #ccc;
    border: 1px solid #333;
}
#projects article img:hover {
    border: 8px olivedrab;
}
footer {
    bottom: 5;
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
.homepageHTML{
    background: url(https://images.squarespace-cdn.com/content/v1/561e7ea4e4b0745b47b51cb7/1538318258423-O43ZWWA73N6VMH10SKMB/ke17ZwdGBToddI8pDm48kLhvZQHDG0IThXReXAuNknUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dtxSRv7WFkiHyruGHE_i82c0apMkQk9TjZ0J-rcYTPBtZtJ3qR9G2BYeA0wOAaeYNg/BackgroundImage-Cleveland-LSS.jpg?format=2500w) no-repeat center center fixed; 
    background-size: cover;
}